
* {
  box-sizing: border-box;
  margin: 0px;
}

.header {
  border: 1px solid red;
  padding: 15px;
  background: #99bbff;
}

.footer {
  border: 1px solid red;
  padding: 15px;
  background: #99bbff;
  clear: both;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.info {
 float: right; 
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid red;
  background: #ffffff;
}

h1{font-size:35px;}
h2{font-size:30px;}
h3{font-size:25px;}
p {font-size:16px; font-face: verdana;}

body {background: #ffffff;}

#quotes {
  font-size:18px;
  float: left;
  padding: 0px;
}

.button {
  background-color: #004de6; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 6px; border-top: 20px;}
