* {
  box-sizing: border-box;
  margin: 0px;
  font-family: verdana, Arial, sans-serif;
}



header {  
  border-bottom: 1px solid black;
  padding: 15px;
  background: #99bbff;
  height: 180px;}

body {min-height: 100%; display: flex;}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  float: right; height: auto;
    width: 75%;
  float: right;
  padding: 15px;
  border: 1px solid red;
}

footer {margin-top: auto; background-color: #cccccc;}

h1{font-size:35px; border: 1px solid red; display: inline; float: left;}
h2{font-size:30px;}
h3{font-size:25px;}
p {font-size:16px;}

.info {
 float: right; 
}
